* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}
.nav-bar {
    background-color: #212121;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 1;
  }
  #nav-list {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    line-height: 70px;
  }  
  #header-img {
    height: 70px;
    position: absolute;
    margin-left: 10px;
  }
  .nav-item {
    float: left;
  }
  .nav-link {
    display: block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding-right: 20px;
    padding-left: 20px;
  }
  .nav-link:hover {
    background-color: #111121;
  }
  #navicon {
    display: none;
  }  
  
  #main {
    margin-top: 70px;
    background-color: #F6F5F1;
    position: relative;
    padding-top: 0px;
    text-align: center;
  }
  .sectionpadding {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  #artists {
    background-color: #f7f1dc;
  }
  #video {
    margin-top: 20px;
  }
  .artistimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid black 3px;
    border-radius: 5px;
  }
  hr{
    width: 60px;
    margin: 20px auto 30px auto;
    height: 5px;
    border: 0;
    background-color: #A83931;
  }
  h1 {
    font-size: 30px;
    color: #212121;
    margin: 0px 0px 10px 0px;
    font-weight: 700;
  }
  h2 {
    font-size: 18px;
    color: #616161;
    margin: 0px 15% 10px 15%;
  }
  h3 {
    position:absolute;
    bottom: 8px;
    left: 16px;
    font-weight: 700;
  }
  h4 {
    font-weight: 700;
    font-size: 16px;
  }
  #flexbox {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
  }
  .artistitem {
    height: 300px;
    width: 300px;
    text-align: left;
    margin: 15px;
    position: relative;
    color: white;
  }
  #productflexbox {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 50px;
  }
  .guitardescriptions { 
    width: 250px;
    padding-bottom: 40px;
  }
  .guitarpics {
    width: 100%;
  }
  input[type=email] {
    width: 50%;
    padding: 12px 20px;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    }
  #submit {
    width: 25%;
    min-width: 120px;
    padding: 12px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: green;
    font-size: 16px;
    }
  #submit:hover {
    background-color: #45a049;
  }
  @media only screen and (max-width:600px) {
    .nav-link {
      display: none;
    }
    #navicon {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      padding: 0px 30px;
      color: white;
    }
    .nav-bar.responsive #nav-list {
      float: none;
      position: relative;
      padding-top: 70px;
    }
  
    .nav-bar.responsive .nav-item {
      text-align: center;
      float: none;
      padding: 0;
    }
  
    .nav-bar.responsive .nav-link {
      background-color: #212121;
      display: block;
    }
  
    .nav-bar.responsive .nav-link:hover {
      background-color: #333333;
    }
    #video {
      width:80%;
      height:45vw;
    }
    #guitardescriptions {
      width: 90%;
    }
  }
   